# Path to .edgerc file
edgerc = "~/.edgerc"

# Edgerc section for PAPI
edgerc_papi = "papi"

# Name of the generated configuration
conf_name = "www.acme.org-tf"

# Name of the Access Control Group
group_name = "00_simple_amd_netstorage"

# Hostname used by the end-user
hostname = "media.acme.org"

# Edge hostname used to map the end-user to Akamai
edge_hostname = "media.acme.org.edgekey.net"

# Activation notification email recipients
email = ["johndoe@acme.org"]

# Product to associate with the configuration
# See https://www.terraform.io/docs/providers/akamai/g/appendix.html
amd_product = "Adaptive_Media_Delivery"

# AMD CP Code Name
amd_cpcode_name = "media.acme.org"

# NetStorage CP Code Name
ns_cpcode_name = "storage.acme.org"

# NetStorage CP Code ID
# Bug: 
ns_cpcode_id = 123456

# NetStorage download domain
ns_download_domain = "acme-storage.download.akamai.com"