# Path to .edgerc file
edgerc = "~/.edgerc"

# Edgerc section for PAPI
edgerc_papi = "papi"

# Name of the generated configuration
conf_name = "simple_amd_netstorage"

# Name of the Access Control Group
group_name = "00_simple_amd_netstorage"

# Hostname used by the end-user
hostname = "simple_amd_netstorage.edgesuite.net"

# Edge hostname used to map the end-user to Akamai
edge_hostname = "simple_amd_netstorage.edgesuite.net"

# Activation notification email recipients
email = ["johndoe@acme.org"]

# Product to associate with the configuration
# See https://www.terraform.io/docs/providers/akamai/g/appendix.html
amd_product = "Adaptive_Media_Delivery"

# AMD CP Code Name
amd_cpcode_name = "simple_amd_netstorage.edgesuite.net"

# NetStorage CP Code ID
ns_cpcode_id = 123456

# NetStorage download domain
ns_download_domain = "simple_amd_netstorage.edgesuite.net.download.akamai.com"
